* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hambuger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 4vh;
  left: 5vw;
}

#container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu {
  background-color: white;
  font-size: 2rem;
  width: 12vw;
  height: 12vw;
  border: 0;
}