* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hamburger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 4vh;
  left: 5vw;
}

.hamburger-menu {
  background-color: white;
  font-size: 2rem;
  width: 12vw;
  height: 12vw;
  border: none;
}

#container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#petCheck {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#plusBtn {
  width: 60px;
  height: 60px;
  background-color: #d9d9d9;
  border-radius: 100px;
  font-size: 50px;
  margin-left: 70vw;
}

#saveBtn {
  width: 80vw;
  height: 8vh;
  font-size: 30px;
}

.custom-file-upload {
  cursor: pointer;
}

.upload-icon {
  width: 50vw;
  height: 50vw;
  font-size: 100px;
  background-color: #d9d9d9;
  color: black;
  text-align: center;
  border-radius: 50%;
  line-height: 200px;
  margin-bottom: 7vh;
}

#file-upload {
  display: none;
}

.input-group {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
  width: 70vw;
  margin-bottom: 3vh;
}

.birthInp {
  margin-left: 32vw;
}

.input-groups {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
  width: 70vw;
  margin-bottom: 3vh;
  display: inline;
}

form {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

select {
  margin-left: 60vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc; /* 선택 박스 테두리 스타일 설정 */
  padding: 5px; /* 선택 박스 패딩 설정 */
  border-radius: 5px; /* 선택 박스 테두리 반경 설정 */
}

input {
  border: 0;
}

input:focus {
  outline: none;
}
